Developed based on Python 3.9, with dependencies including pandas 1.5.2, numpy 1.23.5, scikit-learn 1.2.0, networkx 3.0, and pytorch 2.0.1.

Additionally, torch-geometric 2.3.1, tensorboard 2.13.0, and CUDA 11.8 support are required for deep learning and graph neural network implementations.